@import "bourbon/bourbon";
@mixin gradient_linear_repeating($l){
	background: -webkit-repeating-linear-gradient($l);
	background: -moz-repeating-linear-gradient($l);
	background: -o-repeating-linear-gradient($l);
}
@mixin gradient_linear($l){
	background: -webkit-linear-gradient($l);
	background: -moz-linear-gradient($l);
	background: -o-linear-gradient($l);
}
@mixin shadow_box($box){
	-webkit-box-shadow: $box;
	-moz-box-shadow: $box;
	box-shadow: $box
}
@mixin border_radius($box){
	-webkit-border-radius: $box;
	-moz-border-radius: $box;
	border-radius: $box
}
$h_text: #465568;
$p_text: #919aa5;
$some_txt: #fff;
$book: "eauSansBook";
$bold: "eauSansBold";
* {
	&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
		color: #666;
		opacity: 1;
	}
}
div{
	margin: 0;
	padding: 0;
}
body {
	input:focus:required:invalid, textarea:focus:required:invalid, input:required:valid, textarea:required:valid {}
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
.top_head{
	width: 100%;
	background:url(../img/back_clouds.png) #56cad6;
	background-position: left bottom;
	background-repeat: repeat-x;
	position: relative;
	z-index: 1;
	overflow: hidden;
	.top_line{
		height: 3px;
		width: 100%;
		background-color: rgb(76,193,205);
		@include gradient_linear_repeating((left,  rgba(76,193,205,1) 0px,rgba(76,193,205,1) 52px,rgba(234,167,167,1) 53px,rgba(234,167,167,1) 105px,rgba(156,235,255,1) 106px,rgba(156,235,255,1) 157px,rgba(255,225,169,1) 158px,rgba(255,225,169,1) 209px,rgba(210,223,224,1) 210px,rgba(210,223,224,1) 262px));
		float: left;
		border-bottom: 1px solid #80d7e0;
		@include shadow_box(inset 0px -1px 1px -1px rgba(0,0,0,0.12));
	}
	.header_content_box{
		margin-top: 48px;
		width: 100%;
		height: 100%;
		position: relative;
		z-index: -2;
		background: url(../img/clouds.png) no-repeat center center,
		url(../img/top_bg_icons.png) left top;
			padding-bottom: 175px;
		.iphone_wr{
			width: 270px;
			height: 568px;
			margin: 0 auto;
			background: url(../img/iPhone.png) no-repeat center center;
			background-size: cover;
			padding: 82px 17px 82px 20px;
			position: relative;
			.glade_wr{
				width: 150px;
    		height: 412px;
    		overflow: hidden;
    		border-radius: 0px 30px 0px 0px;
    		position: absolute;
    		top: 10px;
    		right: 5px;
    		background-color: transparent;
    		z-index: 20;
  			.glade{
  				position: absolute;
					width: 0px;
					height: 0px;
					border-style: solid;
					border-width: 0 150px 412px 0;
					border-color: transparent rgba(255, 255, 255, .4) transparent transparent;
  			}
			}
			.phone_content{
				width: 100%;
				height: 400px;
				margin: 0 auto;
				border: 3px solid #0b0c10;
				position: relative;
				&::before{
					content: '';
					display: block;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					background-color: rgba(255,255,255,.75);
					-webkit-box-shadow: 0 0 20px rgba(0,0,0,.06), 0 6px 5px rgba(0,0,0,.1);
					-moz-box-shadow: 0 0 20px rgba(0,0,0,.06), 0 6px 5px rgba(0,0,0,.1);
					box-shadow: 0 0 20px rgba(0,0,0,.06), 0 6px 5px rgba(0,0,0,.1);
					position: absolute;
					bottom: 48%;
    			right: 32%;
					z-index: 21;
				}
				img{
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}
		.text_header{
			margin-top: 115px;
			width: 100%;
			position: relative;
			z-index: 400;
			h1{
				margin: 0;
				padding: 0;
				float: right;
				text-align: right;
				font-family: "eauSansBold";
				@include gradient_linear((bottom, #e2ebec, #f0f6f7));
				-webkit-background-clip: text;
				font-size: 60px;
				font-weight: bold;
				color: transparent;
				-webkit-text-stroke: 1px rgba(0, 0, 0, .3);
			}
			.dwn_box{
				float: right;
				width: 70px;
				height: 70px;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				overflow: hidden;
				border: solid 1px rgba(0, 0, 0, .1);
				@include gradient_linear((bottom, #4cc1cd, #56cad6));
				display: block;
				position: relative;
				margin-right: 20px;

				&::after{
					content: '';
					display: block;
					position: absolute;
					width: 110%;
					height: 100%;
					background: url(../img/cloud.png) no-repeat top;
					top: -4px;
					left: 0;
				}
			}
		}
		.header_descr{
			width: 100%;
			height: 100%;
			text-align: right;
			color: #2b7e87;
			h3{
				font-family: $book;
				font-weight: normal;
				margin: 0;
				padding: 0;
				font-size: 24px;
				text-shadow: 0px 1px 2px rgba(255, 255, 255, .5);
			}
			span{
				display: block;
				font-family: $bold;
				font-size: 24px;
				text-shadow: 0px 1px 2px rgba(255, 255, 255, .5);
			}
			p{
				margin: 0;
				outline: 0;
				color: #fff;
				font-family: $book;
				font-size: 16px;
				line-height: 21px;
				margin-top: 22px;
			}
			.minim{
				margin-top: 22px;
				color: #fff;
				font-family: $bold;
				font-size: 18px;
				line-height: 21px;
			}
		}
		.my_form{
			float: right;
			margin-top: 35px;
			width: 100%;
			text-align: right;
			input[type="text"]{
				display: block;
				float: right;
				width: 172px;
				border: 1px solid #47a8b2;
				outline: none;
				height: 48px;
				padding: 0;
				margin-right: 6px;
				padding-left: 16px;
				border-radius: 5px;
				-webkit-box-shadow: 0 1px rgba(255,255,255,.25), inset 0 3px 3px rgba(0,0,0,.18);
				-moz-box-shadow: 0 1px rgba(255,255,255,.25), inset 0 3px 3px rgba(0,0,0,.18);
				box-shadow: 0 1px rgba(255,255,255,.25), inset 0 3px 3px rgba(0,0,0,.18);
				color: #a1a9aa;
				font-family: $book;
				font-size: 12px;
				&::-webkit-input-placeholder{
					color: #a1a9aa;
					font-family: $book;
					font-size: 12px;
				}
			}
			input[type="submit"]{
				display: block;
				float: right;
				padding: 0;
				height: 48px;
				width: 120px;
				border: solid 1px #47a8b2;
				outline: none;
				@include border_radius(5px);
				-webkit-box-shadow: 0 3px 3px rgba(0,0,0,.1), inset 0 2px #fff;
				-moz-box-shadow: 0 3px 3px rgba(0,0,0,.1), inset 0 2px #fff;
				box-shadow: 0 3px 3px rgba(0,0,0,.1), inset 0 2px #fff;
				@include gradient_linear((bottom, #e1bb74, #f9cf81, #e1bb74 7%, #f9cf81 7%, #ffe1a9));
				font-family: $bold;
				color: #484848;
				font-size: 16px;
				text-shadow: 0 1px rgba(255,255,255,.75);
			}
		}
		.big_circle{
			display: table;
			text-align: center;
			position: relative;
			margin-top: 98px;
			width: 180px;
			height: 180px;
			@include border_radius(50%);
			background-color: rgba(255,255,255,.75);
			-webkit-box-shadow: 0 0 20px rgba(0,0,0,.06), 0 6px 5px rgba(0,0,0,.1);
			-moz-box-shadow: 0 0 20px rgba(0,0,0,.06), 0 6px 5px rgba(0,0,0,.1);
			box-shadow: 0 0 20px rgba(0,0,0,.06), 0 6px 5px rgba(0,0,0,.1);
			outline: none;
			&::before{
				bottom: 38px;
    		left: -174px;
				content: '';
				position: absolute;
				display: block;
				width: 184px;
				height: 3px;
				background-color: rgba(255,255,255,.75);
				-webkit-box-shadow: 0 0 20px rgba(0,0,0,.06), 0 6px 5px rgba(0,0,0,.1);
				-moz-box-shadow: 0 0 20px rgba(0,0,0,.06), 0 6px 5px rgba(0,0,0,.1);
				box-shadow: 0 0 20px rgba(0,0,0,.06), 0 6px 5px rgba(0,0,0,.1);
				transform: rotate(155deg);
			}
			.wr_spans{
				display: table-cell;
				vertical-align: middle;
				.play{
					display: inline-block;
					width: 27px;
					height: 30px;
					background: url(../img/play_icon.png) no-repeat center top;
				}
				.go_play{
					display: inline-block;
					font-size: 16px;
					font-family: $book;
					color: #464646;
					text-shadow: 0 1px rgba(255,255,255,.35);
				}
				.go_play_bold{
					display: inline-block;
					font-size: 18px;
					font-family: $bold;
					color: #464646;
					text-shadow: 0 1px rgba(255,255,255,.35);
				}
			}
		}
		.links_wr{
			width: 100%;
			margin-top: 78px;
			a{
				display: block;
				margin: 0;
				padding: 0;
				float: left;
				height: 48px;
				border: 1px solid #49aab5;
			}
			.get_app{
				display: block;
				width: 177px;
				font-family: $bold;
				font-size: 16px;
				color: #484848;
				margin-right: 12px;
				text-shadow: 0 1px rgba(255,255,255,.35);
				@include border_radius(5px);
				@include gradient_linear((bottom, #56cad6, #64dde9, #56cad6 7%, #64dde9 7%, #9cebff));
				-webkit-box-shadow: 0 3px 3px rgba(0,0,0,.1), inset 0 2px rgba(255,255,255,.35);
				-moz-box-shadow: 0 3px 3px rgba(0,0,0,.1), inset 0 2px rgba(255,255,255,.35);
				box-shadow: 0 3px 3px rgba(0,0,0,.1), inset 0 2px rgba(255,255,255,.35);
				.phone{
					width: 48px;
					height: 100%;
					float: left;
					border-right: 1px solid #80cdde;
					background-color: rgba(0,0,0,.06);
					background-image: url(../img/phone_ico.png);
					background-repeat: no-repeat;
					background-position:  center center;
				}
				.get_app_txt{
					float: left;
					display: block;
					padding-top: 11px;
					width: 127px;
					text-align: center;
				}
			}
			.fc{
				width: 53px;
				height: 48px;
				@include gradient_linear((bottom, #3b5998, #4463a5, #3b5998 7%, #4463a5 7%, #5a78b6));
				-webkit-box-shadow: 0 3px 3px rgba(0,0,0,.1), inset 0 2px rgba(255,255,255,.16);
				-moz-box-shadow: 0 3px 3px rgba(0,0,0,.1), inset 0 2px rgba(255,255,255,.16);
				box-shadow: 0 3px 3px rgba(0,0,0,.1), inset 0 2px rgba(255,255,255,.16);
				@include border_radius(5px);
				border: 1px solid #2e6d73;
				margin-right: 12px;
				position: relative;
				&::after{
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-image: url(../img/like.png);
					background-repeat: no-repeat;
					background-position: center center;
				}
			}
			.twitt{
				width: 53px;
				@include gradient_linear((bottom, #00a1dc, #00afef, #00a1dc 8%, #00afef 8%, #00d1fe));
				-webkit-box-shadow: 0 3px 3px rgba(0,0,0,.1), inset 0 2px rgba(255,255,255,.16);
				-moz-box-shadow: 0 3px 3px rgba(0,0,0,.1), inset 0 2px rgba(255,255,255,.16);
				box-shadow: 0 3px 3px rgba(0,0,0,.1), inset 0 2px rgba(255,255,255,.16);
				@include border_radius(5px);
				position: relative;
				&::after{
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-image: url(../img/twitter.png);
					background-repeat: no-repeat;
					background-position: center center;
				}
			}
		}
	}
}
